body {
  background-color: #e79326;
  color: #fff; /* テキストを白にして読みやすく */
}
.calendar-table {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  font-size: 1.2rem;
  border-collapse: collapse;
}

.calendar-header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
}

#calendar-title {
  font-size: 1.8em;
  margin: 0;
}

.calendar-table th,
.calendar-table td {
  padding: 15px;
  text-align: center;
  border: 1px solid #ccc;
  word-break: keep-all;
}
.calendar-day {
  background-color: #ffffff4b;
  font-weight: bold;
}

.calendar-day:hover {
  background-color: #b4fd97;
  cursor: pointer; /* ← 人差し指マーク */
}

.today {
  background-color: #ffe082;
  font-weight: bold;
}

#calendar h3 {
  font-size: 1.8em; /* ← 月・年の見出しも大きく */
  text-align: center;
  margin-bottom: 20px;
}

#logout-button {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  font-size: 1rem;
}


.saturday {
  color: blue;
}

.sunday,
.holiday {
  color: red;
}

h2 {
  text-align: center;
  font-size: xx-large;
}

.calendar-wrapper {
  margin: 100px auto 30px auto; /* 上、右、下、左の順 */
  max-width: 850px;
  padding: 20px;
  background-color: #1e6fc1;
  border: 3px solid #fff;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
}