body {
  font-family: "Segoe UI", sans-serif;
  margin: 20px;
  background-color: #f9f9f9;
  color: #333;
}

button {
  padding: 6px 12px;
  margin: 4px;
  border: none;
  border-radius: 4px;
  background-color: #da9310;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #be3131;
}

input, textarea {
  width: 100%;
  margin: 8px 0;
  padding: 8px;
  box-sizing: border-box;
}