body {
  background-color: #e79326;
  color: #fff;
  font-family: "Segoe UI", sans-serif;
  margin: 0;
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  text-align: center;
  font-size: 2em;
  margin-bottom: 30px;
}

input {
  width: 80%;
  max-width: 400px;
  padding: 10px;
  margin: 10px 0;
  font-size: 1rem;
  border: none;
  border-radius: 8px;
  box-sizing: border-box;
  background-color: #fff;
  color: #333;
}

button {
  padding: 10px 20px;
  margin: 10px 5px;
  border: none;
  border-radius: 6px;
  background-color: #da9310;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #be3131;
}

#loginStatus {
  margin-top: 20px;
  font-style: italic;
  color: #fff;
  text-align: center;
  font-size: 0.95rem;
}

.login-wrapper {
  max-width: 500px;
  margin: 100px auto 30px auto;
  padding: 30px;
  background-color: #1e6fc1;
  border: 3px solid #fff;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  text-align: center;
}